header{
    background-image: var(--gradient);
    width : 10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav{
    color: black;
    display: flex;
    flex-direction: column;
}

header > a {
    color: var(--color-action);
    font-weight: bold;
    text-align: center;
    padding: .8rem 0;
    margin-bottom: 100%;
    font-size: 1.5em;
}

nav:first-child{
    color: yellow;
}

.quotes-link{
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.226);

    &:last-child{
        border-bottom: none;
    }

    &:hover{
        background-color: rgba(255, 255, 255, 0.205);
    }
}